html, body {
    background-color: rgb(22, 22, 29);
    font-family: 'Manrope', sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: 5% 25% 5% 60% 5%;
    grid-template-rows: 50px;
    grid-template-areas: 
        ". chat-title . dropdown"
        ". chat . editor";
    overflow: hidden;
}

#editor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.editor-container {
    position: relative;
    width: inherit;
    height: 75vh;
    grid-area: editor;
    border-style: ridge;
    border-color: azure;
}

.select-container {
    grid-area: dropdown;
    width: inherit;
    margin-bottom: 1vh;
}

.selectpicker {
    background-color: azure;
}

.title-container {
    display: flex;
    justify-content: center;
}

.title {
    color: azure;
    margin: 1rem;
}

.chat-container {
    display: grid;
    grid-template-rows: 50%;
    grid-template-areas: 
        "box"
        "input";
    grid-area: chat;
}

.form-container {
    display: flex;
    grid-area: input;
    justify-content: center;
}

.form-container button {
    background-color: azure;
}

.form-container input {
    background-color: azure;
}

#messages {
    grid-area: box;
    background-color: #282a36;
    list-style-type: none;
    border-style: ridge;
    border-color: azure;
    padding: 0;
    padding-left: 1vw;
    overflow: auto;
}

#messages li {
    color: azure;
}

.chat-title {
    display: flex;
    grid-area: chat-title;
    color: azure;
    justify-content: center;
}